@model List<Website_BanQuanAo_HoHoangHuy.Models.SanPham>
@{
    ViewBag.Title = "Index";
}
@*Bỏ trong một thẻ div-content*@
@{
    int next = ViewBag.Page + 1;
    int pre = ViewBag.Page - 1;
    if (next > ViewBag.NoOfPages)
    {
        next = ViewBag.NoOfPages;
    }
    if (pre < 1)
    {
        pre = 1;
    }
}
<div class="linkBack">
    <ul class="nav">
        <!-- Chỉ hiển thị khi có đường dẫn-->
        <li class="nav-item">
            <a href="#" class="nav-link text-dark" style="padding-left: 0px;">Trang chủ</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">/ Tất cả sản phẩm</a></li>
    </ul>
</div>
<hr />
@*<div class="banner">
    <img src="https://file.hstatic.net/1000281824/file/cover_1_87a6ac90b1c94059a093003239175873.jpg" alt=""
         class="w-100">
</div>*@
<div class="p-4">
    <h2>Tất cả sản phẩm</h2>
</div>
<div class="row m-0">
    <div class="col-md-3 d-flex">
        <img width="30" height="30" src="https://img.icons8.com/ios/50/filter--v1.png" alt="filter--v1" />
        <h5>Bộ lọc</h5>
    </div>
    <div class="col-md-3">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Sắp xếp theo giá
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a class="dropdown-item" href="/Product/Index?Search=@ViewBag.Search&Sort=Gia&Icon=fa fa-sort-up&page=1">Tăng dần</a></li>
                <li><a class="dropdown-item" href="/Product/Index?Search=@ViewBag.Search&Sort=Gia&Icon=fa fa-sort-down&page=1">Giảm dần</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Sắp xếp sản phẩm (a-z)
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a class="dropdown-item" href="/Product/Index?Search=@ViewBag.Search&Sort=TenSanPham&Icon=fa fa-sort-up&page=1">Tăng dần</a></li>
                <li><a class="dropdown-item" href="/Product/Index?Search=@ViewBag.Search&Sort=TenSanPham&Icon=fa fa-sort-down&page=1">Giảm dần</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row my-3 g-2 p-2 m-0">
    @foreach (var item in Model)
    {
        @*<div class="col-md-3 g-3">
                <div class="card w-100">
                    <a href="/Product/Detail/@item.MaSanPham" class="card text-dark" style="width: 100%; text-decoration: none;">
                        <img src="@item.HinhAnh" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>@item.TenSanPham</h5>
                            <h5 class="text-danger"><b>@item.Gia</b></h5>
                        </div>
                    </a>
                </div>
            </div>*@
        <div class="col-xxl-2 col-md-3 col-6">
            <div class="card border-0" style="width: 100%;">
                <img src="@item.HinhAnh" class="card-img-top rounded" alt="Ao thun den">
                <div class="card-body">
                    <h5 class="card-title">@item.TenSanPham</h5>
                    <p class="card-text">Xanh đen</p>
                    <p class="card-text"><strong>@item.Gia</strong></p>
                    <a href="/Product/Detail/@item.MaSanPham" class="btn btn-primary">Mua ngay</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="container d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link text-dark" href="/Product/Index?Search=@ViewBag.Search&Sort=@ViewBag.Sort&Icon=@ViewBag.Icon&page=@pre">Previous</a></li>
            @for (int i = 0; i < ViewBag.NoOfPages; i++)
            {
                <li class="page-item"><a class="page-link text-dark" href="/Product/Index?Search=@ViewBag.Search&Sort=@ViewBag.Sort&Icon=@ViewBag.Icon&page=@(i + 1)">@(i + 1)</a></li>
            }
            <li class="page-item"><a class="page-link text-dark" href="/Product/Index?Search=@ViewBag.Search&Sort=@ViewBag.Sort&Icon=@ViewBag.Icon&page=@next">Next</a></li>
        </ul>
    </nav>
</div>

