@model Website_BanQuanAo_HoHoangHuy.Identity.AppUser
@{
    ViewBag.Title = "Index";
}
<h2>Account user</h2>
@if (Model == null)
{
    <h1 class="text-red">Not information when you have signed in yet</h1>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Phone number</th>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@Model.Address</td>
        </tr>
    </table>
}